/*==== Colors ====*/
:root {
  --first-color: #227cef;
  --first-color-alt: #5e9ff4;
  --second-color: #5f6368;
  --second-color-alt: #dadce0;
  --white-color: #fafaff;
  --warning-color: #e12d39;
  --warning-color-alt: #ffdddd;
  --gray-color: #80868b;
}

/*==== Containers ====*/
:root {
  --primary-radius: 0.5rem;
  --second-radius: 0.2rem;
}

body {
  font-family: Google Sans, sans-serif;
  max-width: max-content;
  margin: auto;
  max-width: 55rem;
  width: 100%;
}

main {
  margin: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  position: relative;
}

.buttons {
  display: flex;
  gap: 1rem;
  align-self: flex-start;
}

fieldset {
  border-radius: var(--second-radius);
}

#remove-kid {
  display: none;
}

.group-num {
  background-color: var(--second-color);
  color: #fff;
  border-radius: 100%;
  width: 0.8rem;
  height: 0.8rem;
  font-size: 0.9rem;
  padding: 0.35rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.group-heading {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 1.25rem;
  left: 1.25rem;
  font-size: 20px;
  line-height: 32px;
  color: rgb(32, 33, 36);
  font-weight: 600;
  align-self: flex-start;
}

.data-group {
  position: relative;
  background-color: #fff;
  padding: 5rem 3rem 3rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  border-radius: var(--primary-radius);
  border: thin solid var(--second-color-alt);
  display: none;
}

.input-group {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 2.5rem;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  width: 100%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input,
select {
  height: 3rem;
  font-size: 1.25rem;
  border: thin solid var(--gray-color);
  border-radius: var(--second-radius);
  width: 100%;
  padding: 0;
  padding-left: 10px;
  box-sizing: border-box;
}

select {
  background-color: #fff;
  -ms-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: border-box;
}

#work-experience {
  width: 100%;
}

.req-input::after {
  content: "*";
  color: var(--gray-color);
  margin-left: 3px;
}

.group-choice {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.optional-section {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}

textarea {
  -ms-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  border: 0px;
  width: 100% !important;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  font-size: 1.25rem;
  border: thin solid var(--gray-color);
  border-radius: var(--second-radius);
  background-color: #fff;
  resize: none;
}

input[type="radio"] {
  border: 0px;
  width: 1.5rem;
  height: 1.5em;
  transition: 0.2s all linear;
}

.hidden-fields {
  display: none;
}

.visible-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 100%;
  height: fit-content;
}

.append-child {
  align-self: flex-start;
  text-transform: uppercase;
  color: #2178ea;
  font-size: 1.25rem;
  font-weight: 650;
  background-color: transparent;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  letter-spacing: 0.75px;
}

.append-child:hover {
  background-color: #f6fafe;
}

.hidden-entry {
  margin-top: 2rem !important;
}

#kids-heading {
  margin-bottom: -1rem;

  font-size: 20px;
  line-height: 32px;
  color: rgb(32, 33, 36);
  font-weight: 600;
}

.remove-kid {
  width: fit-content;
  height: 3rem;
  align-self: flex-end;

  text-transform: uppercase;
  color: #2178ea;
  font-size: 0.8rem;
  font-weight: 650;
  background-color: transparent;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  letter-spacing: 0.75px;

  transition: background-color 0.3s ease;
  letter-spacing: 0.75px;

  background-color: #f6fafe;
}

.remove-kid:hover {
  background-color: #e2effc;
}

.save-form {
  cursor: pointer;
  align-self: flex-end;
  border-radius: var(--primary-radius);
  border: none;
  width: 5rem;
  height: 2.3rem;
}

.steps {
  width: 100%;
  display: flex;
  /* gap: 10px; */
  position: absolute;
  top: -1px;
  z-index: 1;
}

.step:first-child {
  border-top-left-radius: var(--primary-radius);
}

.step:last-child {
  border-top-right-radius: var(--primary-radius);
}

.step {
  height: 10px;
  width: calc(100% / 7);
  background-color: var(--first-color-alt);
  border: none;
  display: inline-block;
}

.step.active {
  background-size: 8px 8;
  background-color: var(--first-color-alt) !important;
  background-image: repeating-linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.25),
    rgba(255, 255, 255, 0.25) 1px,
    transparent 1px,
    transparent 6px
  ) !important;
}

.step.finish {
  background-color: var(--first-color);
  background-image: repeating-linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.25),
    rgba(255, 255, 255, 0.25) 1px,
    transparent 1px,
    transparent 6px
  ) !important;
}

input.invalid,
textarea.invalid {
  background-color: var(--warning-color-alt);
}

.error-message {
  color: var(--warning-color);
  font-size: 0.8rem;
}

.hidden-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

#prevBtn,
#nextBtn {
  cursor: pointer;
  background-color: var(--first-color);
  height: 3.5rem;
  font-size: 1.25rem;
  border: none;
  border-radius: var(--second-radius);
  width: 8rem;
  color: #fff;
  padding: 10px;
  text-align: center;
}

#nextBtn {
  transition: opacity 0.3s ease;
}

#prevBtn {
  transition: background-color 0.3s ease;
  background-color: transparent;
  color: var(--first-color);
}

#prevBtn:hover {
  background-color: var(--first-color);
  color: #fff;
}

#nextBtn:hover {
  opacity: 0.8;
}

.nav-buttons {
  display: flex;
  gap: 1rem;
  align-self: flex-end;
}

@media screen and (max-width: 720px) {
  .input-group {
    flex-direction: column;
  }
  #prevBtn,
  #nextBtn {
    width: 100% !important;
  }

  .nav-buttons {
    width: 100%;
    flex-direction: column-reverse;
  }
  .data-group {
    padding: 5rem 1.25rem 3rem 1.25rem;
  }
  #json {
    width: 100%;
    overflow: scroll;
  }
  fieldset {
    width: 100%;
    box-sizing: border-box;
  }
  .buttons > button {
    font-size: 0.9rem;
  }
}

#most-recent-degree {
  width: 100% !important;
  /* background-color: red; */
  margin-top: -2rem;
}
